.venv/
.idea/
__pycache__/
*.py[cod]
*.pyo

build/
dist/
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/

_test/**/*.h5
_test/**/*.hdf5
_test/**/*.tif
_test/**/*.tiff
_test/**/*.pt
_test/**/*.npy
_test/**/*.mat
_test/**/*.png
